<h4> {{ leyenda }}</h4>
<div class="input-group ">
    <div class="input-group-append ">
        <button (click)="menos() " class="btn btn-info " type="button "><i class="fa fa-minus "></i></button>
    </div>
    <input #txtProgress type="number" class="form-control " name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChange($event)" min="0" max="100">
    <div class="input-group-append ">
        <button (click)="mas() " class="btn btn-info " type="button "><i class="fa fa-plus "></i></button>
    </div>
</div>